
.html{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
 color: aliceblue;

}

.tittle_name{
    color: rgb(21, 126, 21);
}

.sub_tittle_maim{
    font-style: italic;
}

.tittle_main{
 text-align: center;
 
}