
.html{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
 color: aliceblue;

}

.tittle_name{
    color: rgb(122, 184, 122);
}

.sub_tittle_maim{
    font-style: italic;
}

.tittle_main{
 text-align: center;
 
}